* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible !important; /* Ensure body can scroll if needed */
}

#root {
  height: 100%;
  overflow: visible;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  padding: 0;
  overflow: 'hidden'
}

.main-container{
  flex-grow: 1;
  padding: 20px;
  overflow: 'auto';
  height: 0
}

@media (min-width: 600px) {
  .main-content {
    width: calc(100% - 250px);
    padding: 20px;
  }
  .main-container{
    padding: 40px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bookings-header {
  margin-bottom: 24px;
  display: flex;
}

#bookings-header #search-bar {
  flex: 0 0 20%;
}

#bookings-header #filters {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

#actions {
  flex: 0 0 25%;
  display: flex;
  justify-content: space-between;
  max-width: fit-content;
  gap: 4px;
  height: 100%;
}

@media (max-width: 899px) {
  #bookings-header {
    flex-direction: column;
    row-gap: 20px;
  }

  #bookings-header #actions Button {
    width: 100%;
  }
}

@media (min-width: 900px) {
  #bookings-header {
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
  }
}

#week-view {
  display: flex;
  max-width: calc(100vw - 60px);
}