* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible !important; /* Ensure body can scroll if needed */
}

#root {
  height: 100%;
  overflow: visible;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  padding: 0;
  overflow: 'hidden'
}

.main-container{
  flex-grow: 1;
  padding: 20px;
  overflow: 'auto';
  height: 0
}

@media (min-width: 600px) {
  .main-content {
    width: calc(100% - 250px);
    padding: 20px;
  }
  .main-container{
    padding: 40px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#bookings-header {
  margin-bottom: 24px;
  display: grid;
  gap: 20px;
}

/* Small screens - single column */
@media (max-width: 899px) {
  #new-booking-desktop{
    display: none;
  }

  #bookings-header {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "search"
      "dateFilter"
      "filters" 
      "actions";
  }

  #bookings-header #search-bar {
    grid-area: search;
  }

  #bookings-header #date-filter {
    grid-area: dateFilter;
  }

  #bookings-header #filters {
    grid-area: filters;
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }

  #bookings-header #actions {
    grid-area: actions;
    display: flex;
    gap: 4px;
  }

  #bookings-header #actions #button{
    width: 100%;
  }

}

@media (min-width: 900px) {
  #new-booking-mobile{
    display: none;
  }

  #bookings-header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "newBooking . actions"
      "search dateFilter filters";
    gap: 16px;
    align-items: center;
  }

  #bookings-header #search-bar {
    grid-area: search;
  }

  #bookings-header #date-filter {
    grid-area: dateFilter;
  }

  #bookings-header #filters {
    grid-area: filters;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  #bookings-header #new-booking {
    grid-area: newBooking;
    display: flex;
    justify-content: flex-start;
  }

  #bookings-header #actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end; /* Align actions to the right */
    gap: 8px;
  }
}

#week-view {
  display: flex;
  max-width: calc(100vw - 60px);
}

@media (min-width: 1200px) {
  #bookings-header {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  #bookings-header #filters {
    gap: 16px;
    flex-wrap: nowrap;
  }
}

.MuiPopover-root {
  z-index: 9999 !important;
}

.MuiMenu-paper {
  max-height: 250px !important;
  overflow-y: auto !important;
}
